* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(alejandro-barba-q5Llq7UGOMA-unsplash@2x.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 40px;
  letter-spacing: 5px;
}

.top-wrapper h3{
  font-weight: lighter;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.top-wrapper h4{
  font-weight: lighter;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 17px 0;
}


.btn {
  padding: 8px 24px;
  color: black;
  background-color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 7px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

/*ヘッダー */
header {
  height: 90px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 330px;
  margin-top: 18px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 90px;
  padding: 0 25px;
  color:#707070;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
/*レッスン*/
.about-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  background-image: url(background2.jpg);
  background-size: cover;
  height: 450px;
}

* {
  margin: 0;
}

.lesson-wrapper h2{
  padding-top: 80px;
  padding-bottom: 50px;
  font-size:30px;
  font-weight:lighter;
  color: #5f5d60;
  text-align: center;
}


.lesson {
  float: left;
  width: 33%;
  color: #5f5d60;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  width: 40px;
  height: 40px;
}

.lesson-icon p {
  font-size:35px;
  top: 44%;
  width: 100%;
  display: inline-block;
  vertical-align:top; /*縦方向の揃え位置を指定*/

}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  font-size: 17px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  margin-top: 80px;
}

.message-wrapper h5{
  padding-bottom: 50px;
  font-size:30px;
  font-weight:lighter;
  color: #5f5d60;

}

.message-wrapper ul{
  font-size: 17px;
  color: #5f5d60;
}


footer p {
  color:#5f5d60;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
